<header id="masthead" class="site-header" role="banner">
    <div class="hgroup">
        <h1 class="site-title display-title"><a href="/" title="Theme Preview" rel="home"><span itemprop="name">Full Stack Training</span></a></h1>
        <h2 itemprop="description" class="site-description">Full Stack Web Development</h2> </div>
    <button type="button" class="btn btn-link hidden-lg toggle-sidebar" data-toggle="offcanvas" aria-label="Sidebar"><i class="fa fa-gear"></i></button>
    <button type="button" class="btn btn-link hidden-lg toggle-navigation" aria-label="Navigation Menu"><i class="fa fa-bars"></i></button>
    <nav id="site-navigation" class="navigation main-navigation" role="navigation">
        <div class="nav-menu">
            <ul>
                <li class="page_item"><a href="#">关于</a></li>
                <li class="page_item page_item_has_children"><a href="/articles">文章</a>
                    <ul class='children'>
                        <li class="page_item"><a href="/articles">博文列表</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="sidebar-offcanvas">
    <div id="main-sidebar" class="widget-area" role="complementary">
        <aside id="search-3" class="widget widget_search">
            <form method="get" id="searchform" action="https://wp-themes.com/">
                <label for="s" class="assistive-text">Search</label>
                <input type="text" class="field" name="keywords" placeholder="Search" />
                <input type="submit" class="submit" name="submit" id="searchsubmit" value="Search" />
            </form>
        </aside>
        <aside class="widget widget_recent_entries">
            <h3 class='widget-title'>最新发布</h3>
            <ul class="recent-articles-list">

<!--
                <li>
                    <a href="">Markdown样式示例</a>
                </li>
                <li>
                    <a href="">Hello World</a>
                </li>
                <li>
                    <a href="">More Tags</a>
                </li>
                <li>
                    <a href="">HTML</a>
                </li>
                <li>
                    <a href="">Links</a>
                </li>
-->
            </ul>
        </aside>
        <aside id="recent-comments-3" class="widget widget_recent_comments">
            <h3 class='widget-title'>最新评论</h3>
            <ul id="recentcomments">
                <li class="recentcomments"><span class="comment-author-link"><a href='' rel='external nofollow' class='url'>Karlcarlo</a></span> on <a href="">Hello world!</a></li>
                <li class="recentcomments"><span class="comment-author-link"><a href='' rel='external nofollow' class='url'>Joseph Scott</a></span> on <a href="">HTML</a></li>
                <li class="recentcomments"><span class="comment-author-link"><a href='' rel='external nofollow' class='url'>Mr WordPress</a></span> on <a href="">Hello world!</a></li>
            </ul>
        </aside>
        <aside id="archives-3" class="widget widget_archive">
            <h3 class='widget-title'>归档</h3>
            <ul>
                <li><a href=''>October 2015</a></li>
                <li><a href=''>September 2015</a></li>
                <li><a href=''>June 2015</a></li>
            </ul>
        </aside>
        <aside id="categories-3" class="widget widget_categories">
            <h3 class='widget-title'>分类</h3>
            <ul>
                <li class="cat-item"><a href="">全栈开发</a>
                </li>
                <li class="cat-item"><a href="">Node.JS</a>
                </li>
                <li class="cat-item"><a href="">前端交互</a>
                </li>
                <li class="cat-item"><a href="">Markdown</a>
                </li>
                <li class="cat-item"><a href="">HTML5/CSS3</a>
                </li>
            </ul>
        </aside>
    </div>
</div>