<nav class="navbar navbar-default navbar-static-top main-toolbar">
  <a href="#" class="btn btn-link hidden-lg toggle-sidebar" data-toggle="offcanvas" aria-label="Sidebar"><i class="fa fa-bars"></i></a>
  <ul class="nav navbar-nav navbar-custom-menu pull-right">
    {{#if person}}
    <li><a href="#" class="navbar-link">{{person.username}}</a></li>
    <li class="dropdown">
      <a href="#" class="btn btn-link dropdown-toggle toggle-setting" data-toggle="dropdown" role="button"><i class="fa fa-gear"></i> <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/admin" class="navbar-link">管理</a></li>
        <li><a href="/signout" class="navbar-link">退出</a></li>
      </ul>
    </li>
    {{else}}
    <li>
      <p class="navbar-text"><a href="/signin" class="navbar-link">登录</a> | <a href="/signup" class="navbar-link">注册</a></p>
    </li>
    {{/if}}
  </ul>

</nav>