.markdown-body table
  display: table

/* flat theme */
@media (min-width: 1200px)
  .container
    width: 1200px

#masthead .site-title
    font-family: "Amatic SC"

body
    font-family: Roboto

h1, h2, h3, h4, h5, h6
    font-family: Roboto Slab

#masthead .site-description,
.hentry .entry-meta
    font-family: "Roboto Condensed"

.recentcomments a
    display: inline !important
    padding: 0 !important
    margin: 0 !important

body.custom-background
    background-image: url('/themes/flat/img/default-background.jpg')
    background-repeat: repeat
    background-position: top left
    background-attachment: scroll

/* toolbar */
.main-toolbar
    padding: 0 10px
    margin-bottom: 0


/* editor.md */
.editormd-preview-container pre,
.editormd-preview-container code,
.editormd-preview-container kbd,
.editormd-html-preview pre,
.editormd-html-preview code,
.editormd-html-preview kbd
  font-family: "YaHei Consolas Hybrid", monaco, Consolas, "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", Helvetica, monospace, monospace

/* article manage */
.manage-control
    padding: 10px

.manage-control .btn
    margin: 0 5px

