<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{title}}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  {{> admin/resource}}
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  {{> admin/header}}
  {{> admin/sidebar}}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  {{{body}}}
  </div>
  <!-- /.content-wrapper -->
  {{> admin/footer}}
  {{> admin/control_sidebar}}
</div>
<!-- ./wrapper -->
{{> admin/scripts}}
</body>
</html>
